-e git+https://github.com/rohe/pysaml2.git#egg=pysaml2
flask-wtf
requests
python-dateutil
argparse
flask
jinja2
pillow
uwsgi
bcrypt
flask-bootstrap
qrcode
flask-login
flask-sqlalchemy
-e git+https://github.com/mrjoes/flask-admin.git#egg=flask-admin
importlib
